.visualizations.panel.panel-default
    .panel-heading
        .category(
            ng-repeat="category in viewModel.dimensionCategories",
            ng-if="category.dimensions.length",
        )
            .category-dimension-label {{ category.label }}
            .category-dimensions
                button.btn.btn-default.btn-md.category-dimension-toggle(ng-repeat="dimension in category.dimensions")(
                    type="button",
                    ng-class="{ active: dimension.enabled }",
                    ng-click="toggleDimensionEnabled(dimension, category)",
                ) {{ dimension.label }}
    
    .panel-body
        .canvas
            svg(width="100%", height="100%")
        
        .sidebar
            .dimension-keys
                div(ng-repeat="category in viewModel.dimensionCategories")
                    div.dimension-key(
                        ng-repeat="dimension in category.dimensions",
                        ng-if="dimension.enabled"
                    )
                        .dimension-key-header
                            .category-dimension-label {{ dimension.label }}
                            button.btn.btn-default.btn-xs.group-dimension-toggle(
                                type="button",
                                ng-class="{ active: viewModel.groupedBy === dimension }",
                                ng-click="viewModel.groupedBy = (viewModel.groupedBy === dimension ? null : dimension)",
                            ) group

                        .dimension-groupings.text-sans-serif
                            .dimension-grouping(
                                ng-repeat="grouping in dimension.groupings track by $index",
                                ng-class="{ 'grouping-disabled': grouping.deselected }",
                                ng-click="grouping.deselected = !grouping.deselected",
                            )
                                .grouping-dot(ng-bind-html="getKeyDot(dimension, grouping)")
                                .grouping-label {{ grouping.label }}

            .hide-deselected
                label
                    input(type="checkbox", ng-model="viewModel.hideDeselectedEntries")
                    span hide deselected entries
    
    .panel-footer.text-center
        button.btn.btn-default.btn-xs(
            type="button",
            ng-if="!entryListVisible",
            ng-click="setEntryListVisibility(true)",
        ) show entry list

        button.btn.btn-default.btn-xs(
            type="button",
            ng-if="entryListVisible",
            ng-click="setEntryListVisibility(false)",
        ) hide entry list