.form-group
    label Free search in the entries
    div
        div.free-search-input(ng-repeat="term in freeSearchModel.terms track by $index")
            input.input-field.input-sm.form-control(
                type="text", 
                ng-model="term.value",
                placeholder="text ({{ counts.fullName }} entries)",
                ng-class="{ filled: term.value }",
            )
            
            a.remove-button.small(
                ng-show="freeSearchModel.terms.length > 1",
                ng-click="freeSearchModel.terms.splice($index, 1)"
            ) x

            .checkbox.option-checkbox
                label
                    input.small(type="checkbox", ng-model="term.beginning")
                    div.small match beginning of word
            
            .checkbox.option-checkbox
                label
                    input.small(type="checkbox", ng-model="term.end")
                    div.small match end of word

            .checkbox.option-checkbox
                label
                    input.small(type="checkbox", ng-model="term.negative")
                    div.small negative

            hr

    a.small.add-word(ng-click="freeSearchModel.terms.push({ value: '', beginning: true, end: true })") add word
    
    .clearfix
    
    div.btn-group.btn-group-xs.pull-right(style="margin-right: 5px; z-index: 999;")
        button.btn.btn-default(type="button", ng-class="{'btn-primary': freeSearchModel.operator === 'and'}", ng-click="freeSearchModel.operator = 'and'") and
        button.btn.btn-default(type="button", ng-class="{'btn-primary': freeSearchModel.operator === 'or'}", ng-click="freeSearchModel.operator = 'or'") or

    .checkbox(ng-repeat="section in freeSearchModel.sections")
        label
            input(type="checkbox", ng-model="section.checked")
            div {{ section.name }}
