.form-group
    label {{title}}
    
    input.input-sm.form-control.margin-top(
        type="text", 
        ng-model="indexModel.index.query.startIndex",
        placeholder="index",
        ng-class="{ filled : indexModel.index.query.startIndex}",
        ng-show="indexModel.index.queryType === 'exact'")
    
    input.input-sm.form-control.margin-top(
        type="text", 
        ng-model="indexModel.index.query.startIndex",
        placeholder="start index",
        ng-class="{ filled : indexModel.index.query.startIndex}",
        ng-show="indexModel.index.queryType === 'range'")
    
    input.input-sm.form-control.margin-top(
        type="text", 
        ng-model="indexModel.index.query.endIndex",
        placeholder="end index",
        ng-class="{ filled : indexModel.index.query.endIndex}",
        ng-show="indexModel.index.queryType === 'range'")
    
    .margin-top
        span.index-query-type.index-query-type-label search by: 
        span.index-query-type(
            ng-click="indexModel.index.queryType = 'exact'",
            ng-class="{selected: indexModel.index.queryType === 'exact'}") exact index
        span.index-query-type(
            ng-click="indexModel.index.queryType = 'range'",
            ng-class="{selected: indexModel.index.queryType === 'range'}") range of indices