.form-group
    label Travel
    input.input-sm.form-control(
        type="text", 
        ng-model="travelModel.place",
        placeholder="place ({{ counts.travel_place }} entries)",
        ng-class="{ filled : travelModel.place }"
        typeahead="item for item in getSuggestions('travels.place', $viewValue)"
        typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
        typeahead-on-select="search()",
    )

    .query-type-chooser
        span.date-query-type(
            ng-click="resetTravelSearch(false)",
            ng-class="{ selected: !travelModel.date.range }",
        ) exact date
        
        span.date-query-type(
            ng-click="resetTravelSearch(true)",
            ng-class="{ selected: travelModel.date.range }",
        ) range of dates
    
    .travel-date-input(
        ng-if="!travelModel.date.range",
        ng-repeat="unit in [ 'year', 'month' ]",
    )
        label.pull-right.empty-checkbox(
            ng-class="{ 'empty-checkbox-disabled': unit === 'month' && travelModel.date.specifiedBy === 'year' }",
            ng-show="unit === 'year'",
        )
            span empty
            input(
                type="checkbox",
                ng-model="travelModel.date[unit + 'Empty']",
                ng-change="travelModel.date[unit] = null",
            )
        
        input.input-sm.form-control.margin-top(
            type="number",
            ng-model="travelModel.date[unit]",
            placeholder="{{ unit }} ({{ counts['travel_' + unit] }} entries)",
            ng-class="{ filled: query.travel.date[unit] || travelModel.date[unit + 'Empty'] }",
            ng-disabled="travelModel.date[unit + 'Empty']",
        )

    .travel-date-input(
        ng-if="travelModel.date.range",
        ng-repeat="startOrEnd in [ 'start', 'end' ]",
    )
        input.input-sm.form-control.margin-top(
            ng-repeat="unit in [ 'year', 'month' ]",
            type="number",
            ng-model="travelModel.date[camelCase(startOrEnd, unit)]",
            placeholder="{{ startOrEnd }} {{ unit }} ({{ counts['travel_' + unit] }} entries)",
            ng-class="{ filled: query.travel.date[camelCase(startOrEnd, unit)] }",
        )

    .specified-by-chooser
        span include travels specified in the dictionary by 
        span.btn-group.list-option
            button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                span {{ travelModel.date.specifiedBy }}
                span.caret
            
            ul.dropdown-menu
                li(ng-repeat="option in [ 'year', 'month', 'day' ]")
                    a(
                        ng-click="travelModel.date.specifiedBy = option",
                        ng-class="{ 'bg-info' : travelModel.date.specifiedBy === option }"
                    ) {{ option }}
