.revision-status.alert(
    ng-class="{ 'alert-info': activeRevision.latest, 'alert-warning': !activeRevision.latest }",
    ng-show="activeRevision",
)
    
    .revision-status-label
        strong Active Revision: 
        span {{ activeRevision.name }} 
            em(ng-show="activeRevision.latest") (Latest)

    .btn-group.btn-group-sm(role="group")
        button.btn.btn-default(
            type="button",
            ng-show="!activeRevision.latest",
            ng-class="{ disabled: revisions[0].activating }",
            ng-click="revisions[0].activating ? null : setActiveRevision(revisions[0])",
        ) {{ revisions[0].activating ? 'Activating...' : 'Activate Latest' }}
      
        .btn-group.btn-group-sm(role="group")
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                | Activate Another Revision
                span.caret
        
            ul.dropdown-menu.dropdown-menu-right
                li(ng-repeat="revision in revisions", ng-class="{ disabled: revision.active }")
                    a(ng-click="revision.active ? null : setActiveRevision(revision)") {{ revision.name }}
