.container.main-view

  .row
    .col-lg-12
      revision-status
  br

  .row
  
    .col-lg-12
    
      .row
        .col-lg-2
          label Filters
          ul.list-unstyled
            li.border-top(ng-repeat="dimension in dimensions",style="position:relative")
              span.small.text-light.pull-right.explore-count(title="{{ counts[dimension.field] }} entries have a value for this filter.") {{ counts[dimension.field] }}

              .checkbox(style="")
                label
                  input(type="checkbox", ng-model="dimension.active")
                  div(ng-class="{ 'text-strong' : query.hasOwnProperty(dimension.field) }")
                      span(ng-if="dimension.label !== 'DBITI Employments & Identifiers'") {{ dimension.label }}
                      span(ng-if="dimension.label === 'DBITI Employments & Identifiers'", style="font-style: italic") DBITI 
                      span(ng-if="dimension.label === 'DBITI Employments & Identifiers'", style="font-style: normal") Employments & Identifiers
                  span.small(ng-show="dimension.subgroup") {{dimension.subgroup}}
                  
        .col-lg-10
          .clearfix.margin-bottom
            a.btn-xs.btn.btn-danger.pull-right(ng-click="clear()") Clear all
            a.btn-xs.btn.btn-success.pull-right(ng-click="duplicate()", style="margin-right: 10px") Duplicate
      
          form
            .row
              .col-lg-3(ng-repeat='dimension in activeDimensions')
                div(ng-mouseover="tooltip = dimension.field", style="float: right; position: relative; right: 7px; cursor: pointer;")
                    span(ng-mouseover="tooltip = dimension.field", ng-mouseleave="(tooltip == dimension.field) && (tooltip = null)", style="color: #80b8da; font-weight: bold") ?
                    div.mentioned-names-popup(
                          ng-mouseleave="(tooltip == dimension.field) && (tooltip = null)"
                          ng-style="{'margin-left': '15px', 'margin-top': '-30px', display: 'block', opacity: tooltip == dimension.field ? '1': '0', 'z-index': tooltip == dimension.field ? 99: -1, clear: both}"
                    )
                        h4(ng-if="dimension.label !== 'DBITI Employments & Identifiers'") {{ dimension.label }}
                        div(ng-if="dimension.label === 'DBITI Employments & Identifiers'" style="margin: 10px 0px")
                          h4(style="font-style: italic; display: inline") DBITI 
                          h4(style="font-style: normal; display: inline") Employments & Identifiers
                        p(style="display: inline") {{ dimension.description }}
                        a.hover-item(ng-if="dimension.href", target="_blank", ng-href="{{dimension.href}}") Learn more...
                div(ng-switch="dimension.type")
                  div(ng-switch-when="facet",
                      facet="",
                      label="{{dimension.label}}",
                      subgroup="{{dimension.subgroup}}",
                      data-model="dimension.antani",
                      field="{{dimension.field}}",
                      suggestion='{{dimension.suggestion}}',
                      data-query='query'
                      data-rawuniques='uniques[dimension.suggestion]'
                      data-searching='searching')
                  div(ng-switch-when="number")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="text")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="freesearch")
                    free-search
                  div(ng-switch-when="date")
                    date-search(data-title=" {{dimension.label}} ", data-field=" {{dimension.field}} ")
                  div(ng-switch-when="index")
                    index-search(data-title=" {{dimension.label}} ", data-field=" {{dimension.field}} ")
        
    .col-lg-12 
    
      strong Your filters
      pills(allow-remove="true")      
      
      div.text-muted(ng-show="!entries.length && untouched && !searching") Use the fields on the left and press Enter or click the Search button to start searching

      div(ng-show="!noResults && entries.length && !searching")
        
        hr
      
        div.clearfix
          p.pull-left.text-large
            strong {{entries.length}} 
            | matching results

        entry-list(entries="entries", export="export()")
        
      div(ng-show="noResults && !searching")
        p No results
      
      div.alert.alert-warning(ng-show="searching")
        p 
          i.fa.fa-refresh.fa-spin.margin-right
          | Searching...