.container.main-view

  .row
  
    .col-lg-12
    
      .row
        .col-lg-2
          label Dimensions
          ul.list-unstyled
            li.border-top(ng-repeat="dimension in dimensions")
              span.small.text-light.pull-right.explore-count(title="{{ counts[dimension.field] }} entries have a value for this dimension.") {{ counts[dimension.field] }}
              .checkbox
                label
                  input(type="checkbox", ng-model="dimension.active")
                  div(ng-class="{ 'text-strong' : query.hasOwnProperty(dimension.field) }") {{dimension.label}}
                  span.small(ng-show="dimension.subgroup") {{dimension.subgroup}}
        
        .col-lg-10
          .clearfix.margin-bottom
            a.btn-xs.btn.btn-danger.pull-right(ng-click="clear()") Clear all
      
          form
            .row
              .col-lg-3(ng-repeat='dimension in activeDimensions')
                div(ng-switch="dimension.type")
                  div(ng-switch-when="facet", facet="", label="{{dimension.label}}", subgroup="{{dimension.subgroup}}", data-model="dimension.antani", field="{{dimension.field}}", suggestions='{{dimension.suggestions}}', data-query='query')
                  div(ng-switch-when="number")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="text")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="freesearch")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="freeSearchModel.query", ng-model-options="{debounce:1000}")
                      .checkbox.pull-right
                        label
                          input.small(type="checkbox", ng-model="freeSearchModel.beginnings")
                          div.small.free-search-beginning-of-word Search beginnings of words only
                      .clearfix
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.biography", ng-model-options="{debounce:1000}")
                          div Biography
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.tours", ng-model-options="{debounce:1000}")
                          div Tours
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.narrative", ng-model-options="{debounce:1000}")
                          div Narrative
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.notes", ng-model-options="{debounce:1000}")
                          div Notes
                  div(ng-switch-when="travel")
                    .form-group
                      label {{dimension.label}}
                        span.text-muted {{' ' + dimension.subgroup}}
                      input.input-sm.form-control(
                        type="text", 
                        ng-model="travelModel.place",
                        placeholder="place ({{ counts.travel_place }} entries)",
                        ng-class="{ filled : travelModel.place }"
                        typeahead="item for item in getSuggestions('travels.place', $viewValue)"
                        typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.startYear",
                        placeholder="year ({{ counts.travel_year }} entries)",
                        ng-class="{ filled : travelModel.date.query.startYear }",
                        ng-show="travelModel.date.queryType === 'exact'")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.startMonth",
                        placeholder="month ({{ counts.travel_month }} entries)",
                        ng-class="{ filled : travelModel.date.query.startMonth }",
                        ng-show="travelModel.date.queryType === 'exact'",
                        ng-disabled="!travelModel.date.query.startYear && !travelModel.date.query.startMonth")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.startDay",
                        placeholder="day ({{ counts.travel_day }} entries)",
                        ng-class="{ filled : travelModel.date.query.startDay }",
                        ng-show="travelModel.date.queryType === 'exact'",
                        ng-disabled="!travelModel.date.query.startMonth && !travelModel.date.query.startDay")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.startYear",
                        placeholder="start year ({{ counts.travel_year }} entries)",
                        ng-class="{ filled : travelModel.date.query.startYear }",
                        ng-show="travelModel.date.queryType === 'range'")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.startMonth",
                        placeholder="start month ({{ counts.travel_month }} entries)",
                        ng-class="{ filled : travelModel.date.query.startMonth }",
                        ng-show="travelModel.date.queryType === 'range'",
                        ng-disabled="!travelModel.date.query.startYear && !travelModel.date.query.startMonth")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.startDay",
                        placeholder="start day ({{ counts.travel_day }} entries)",
                        ng-class="{ filled : travelModel.date.query.startDay }",
                        ng-show="travelModel.date.queryType === 'range'",
                        ng-disabled="!travelModel.date.query.startMonth && !travelModel.date.query.startDay")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.endYear",
                        placeholder="end year ({{ counts.travel_year }} entries)",
                        ng-class="{ filled : travelModel.date.query.endYear }",
                        ng-show="travelModel.date.queryType === 'range'")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.endMonth",
                        placeholder="end month ({{ counts.travel_month }} entries)",
                        ng-class="{ filled : travelModel.date.query.endMonth }",
                        ng-show="travelModel.date.queryType === 'range'",
                        ng-disabled="!travelModel.date.query.endYear && !travelModel.date.query.endMonth")
                      input.input-sm.form-control.margin-top(
                        type="text", 
                        ng-model="travelModel.date.query.endDay",
                        placeholder="end day ({{ counts.travel_day }} entries)",
                        ng-class="{ filled : travelModel.date.query.endDay }",
                        ng-show="travelModel.date.queryType === 'range'",
                        ng-disabled="!travelModel.date.query.endMonth && !travelModel.date.query.endDay")
                      .margin-top
                        span.date-query-type.date-query-type-label.explore search by: 
                        span.date-query-type.explore(
                          ng-click="resetTravelModel('exact', travelModel.date.estimated)",
                          ng-class="{selected: travelModel.date.queryType === 'exact'}") exact year
                        span.date-query-type.explore(
                          ng-click="resetTravelModel('range', travelModel.date.estimated)",
                          ng-class="{selected: travelModel.date.queryType === 'range'}") range of years
        
    .col-lg-12 
    
      strong Your filters
      p
        .pill(ng-repeat="pill in pills") 
          .pill-dimension {{ pill.dimension }}
          .pill-value
            span(ng-show="pill.value | isArray" ng-repeat="value in pill.value track by $index")
              span(ng-show="$index > 0") or 
              strong {{ value }} 
            strong(ng-hide="pill.value | isArray") {{ pill.value }}
          .pill-value.border-left
            a.text-danger(ng-click="removeFromQuery(pill.key)", data-toggle="tooltip", title="Remove")
              i.fa.fa-trash-o

        //button.btn.btn-success.pull-right(ng-click="search()", type="submit", tabindex="1") Search
            
      div.text-muted(ng-show="!entries.length && untouched && !searching") Use the fields on the left and press Enter or click the Search button to start searching


      div(ng-show="!noResults && entries.length && !searching")
        
        hr
      
        div.clearfix
          p.pull-left.text-large
            strong {{entries.length}} 
            | matching results

        entry-list(entries="entries", export="export()")
        
      div(ng-show="noResults && !searching")
        p No results
      
      div.alert.alert-warning(ng-show="searching")
        p 
          i.fa.fa-refresh.fa-spin.margin-right
          | Searching...
