.container.main-view

  .row
  
    .col-lg-12
    
      .row
        .col-lg-2
          label Dimensions
          ul.list-unstyled
            li.border-top(ng-repeat="dimension in dimensions")
              .checkbox
                label
                  input(type="checkbox", ng-model="dimension.active")
                  div(ng-class="{ 'text-strong' : query.hasOwnProperty(dimension.field) }") {{dimension.label}}
                  span.small(ng-show="dimension.subgroup") {{dimension.subgroup}}
        
        .col-lg-10
          .clearfix.margin-bottom
            a.btn-xs.btn.btn-danger.pull-right(ng-click="clear()") Clear all
      
          form
            .row
              .col-lg-3(ng-repeat='dimension in activeDimensions')
                div(ng-switch="dimension.type")
                  div(ng-switch-when="facet", facet="", label="{{dimension.label}}", subgroup="{{dimension.subgroup}}", data-model="dimension.antani", field="{{dimension.field}}", suggestions='{{dimension.suggestions}}', data-query='query')
                  div(ng-switch-when="number")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="text")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="freesearch")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="freeSearchModel.query", ng-model-options="{debounce:1000}")
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.biography", ng-model-options="{debounce:1000}")
                          div Biography
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.tours", ng-model-options="{debounce:1000}")
                          div Tours
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.narrative", ng-model-options="{debounce:1000}")
                          div Narrative
                      .checkbox
                        label
                          input(type="checkbox", ng-model="freeSearchModel.sections.notes", ng-model-options="{debounce:1000}")
                          div Notes
                  div(ng-switch-when="traveldate")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.startYear",
                          placeholder="year",
                          ng-class="{ filled : travelDateModel.query.startYear }",
                          ng-show="travelDateModel.queryType === 'exact'",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.startMonth",
                          placeholder="month",
                          ng-class="{ filled : travelDateModel.query.startMonth }",
                          ng-show="travelDateModel.queryType === 'exact'",
                          ng-disabled="!travelDateModel.query.startYear && !travelDateModel.query.startMonth",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.startDay",
                          placeholder="day",
                          ng-class="{ filled : travelDateModel.query.startDay }",
                          ng-show="travelDateModel.queryType === 'exact'",
                          ng-disabled="!travelDateModel.query.startMonth && !travelDateModel.query.startDay",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.startYear",
                          placeholder="start year",
                          ng-class="{ filled : travelDateModel.query.startYear }",
                          ng-show="travelDateModel.queryType === 'range'",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.startMonth",
                          placeholder="start month",
                          ng-class="{ filled : travelDateModel.query.startMonth }",
                          ng-show="travelDateModel.queryType === 'range'",
                          ng-disabled="!travelDateModel.query.startYear && !travelDateModel.query.startMonth",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.startDay",
                          placeholder="start day",
                          ng-class="{ filled : travelDateModel.query.startDay }",
                          ng-show="travelDateModel.queryType === 'range'",
                          ng-disabled="!travelDateModel.query.startMonth && !travelDateModel.query.startDay",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.endYear",
                          placeholder="end year",
                          ng-class="{ filled : travelDateModel.query.endYear }",
                          ng-show="travelDateModel.queryType === 'range'",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.endMonth",
                          placeholder="end month",
                          ng-class="{ filled : travelDateModel.query.endMonth }",
                          ng-show="travelDateModel.queryType === 'range'",
                          ng-disabled="!travelDateModel.query.endYear && !travelDateModel.query.endMonth",
                          ng-model-options="{debounce:1000}")
                        input.input-sm.form-control.margin-top(
                          type="text", 
                          ng-model="travelDateModel.query.endDay",
                          placeholder="end day",
                          ng-class="{ filled : travelDateModel.query.endDay }",
                          ng-show="travelDateModel.queryType === 'range'",
                          ng-disabled="!travelDateModel.query.endMonth && !travelDateModel.query.endDay",
                          ng-model-options="{debounce:1000}")
                        span.date-query-type.label.explore search by: 
                        span.date-query-type(
                          ng-click="resetTravelDateModel('exact')",
                          ng-class="{selected: travelDateModel.queryType === 'exact'}") exact year
                        span.date-query-type(
                          ng-click="resetTravelDateModel('range')",
                          ng-class="{selected: travelDateModel.queryType === 'range'}") range of years
        
    .col-lg-12 
    
      strong Your filters
      p
        .pill(ng-repeat="(k,v) in query") 
          .pill-dimension {{k.split('_').join(' ')}}
          .pill-value
            span(ng-show="v | isArray" ng-repeat="value in v")
              span(ng-show="$index > 0") or 
              strong {{value}} 
            strong(ng-hide="v | isArray") {{v}}
          .pill-value.border-left
            a.text-danger(ng-click="removeFromQuery(k)", data-toggle="tooltip", title="Remove")
              i.fa.fa-trash-o

        //button.btn.btn-success.pull-right(ng-click="search()", type="submit", tabindex="1") Search
            
      div.text-muted(ng-show="!entries.length && untouched && !searching") Use the fields on the left and press Enter or click the Search button to start searching


      div(ng-show="!noResults && entries.length && !searching")
        
        hr
      
        div.clearfix
          p.pull-left.text-large
            strong {{entries.length}} 
            | matching results
        
        .panel.panel-default
          .panel-heading
            button.btn.btn-default.btn-xs.list-option(type="button", ng-click="selectAllEntries()") select all
            button.btn.btn-default.btn-xs.list-option(type="button", ng-click="deselectAllEntries()") deselect all
            button#export-button.btn.btn-default.btn-xs.pull-right(data-loading-text="Loading...", ng-click="export()", ng-disabled="!entries.length")
              i.fa.fa-download.margin-right
              | Export results
            div.btn-group.add-to-list-btn.list-option
              button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                span Add Selected Entries to List
                span.caret
              ul.dropdown-menu
                li(ng-show="sharedListModel.listsLoading")
                  span Loading lists...
                li(ng-repeat="list in sharedListModel.myLists")
                  a(ng-click="addSelectedEntriesToList(list)") {{ list.name }}
                li.divider(role="separator")
                li.dropdown-header or add to a new list:
                li
                  form.input-group.input-group-sm
                    input.form-control(type="text", placeholder="new list name", ng-model="viewModel.newListName")
                    span.input-group-btn
                      button.btn.btn-default(type="submit", ng-disabled="!viewModel.newListName", ng-click="addSelectedEntriesToNewList()") Create & Add
            
          .panel-body
            table.table.table-hover
              tbody.entry-row
                tr(ng-repeat="entry in entries", ng-class="{ warning: entry.selected }")
                  td.entry-checkbox
                    input(type="checkbox", ng-model="entry.selected")
                  td.entry-list-item
                      a(ng-href="#/entries/{{entry.index}}")
                        h4 {{ entry.fullName }}
                        p {{ entry.biography.slice(0, 200) }} ...
                          span.add-to-list-label.label.label-success(ng-show="entry.addedToList") Added to list
                          span.add-to-list-label.label.label-info(ng-show="entry.alreadyInList") Already in list
        
      div(ng-show="noResults && !searching")
        p No results
      
      div.alert.alert-warning(ng-show="searching")
        p 
          i.fa.fa-refresh.fa-spin.margin-right
          | Searching...
