.container.main-view

  .row
  
    .col-lg-3.border-right
    
      div(facet="", label="Full name", model="query.fullName", modelName="fullName", suggestions='fullName')
          
      form
              
        .form-group.clearfix
          a.pull-right.small(ng-click="clear()") Clear all

        .form-group
          button.btn.btn-block.btn-success(ng-click="search()", type="submit") Apply filters
    
        .form-group
          label Full name
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.fullName",
              placeholder="Search",
              ng-class="{ filled : query.fullName }"
              typeahead="item for item in getSuggestions('fullName', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.fullName=''", ng-show="query.fullName.length")
          
          a(ng-click="uniques('fullName')") Antnai

        .form-group
          label Born
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.birthDate",
              placeholder="year",
              ng-class="{ filled : query.birthDate }")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.birthDate=''", ng-show="query.birthDate.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.birthPlace",
              placeholder="place",
              ng-class="{ filled : query.birthPlace }"
              typeahead="item for item in getSuggestions('places.birthPlace', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.birthPlace=''", ng-show="query.birthPlace.length")

        .form-group
          label Died
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.deathDate",
              placeholder="year",
              ng-class="{ filled : query.deathDate }")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.deathDate=''", ng-show="query.deathDate.length")
          .clear-input
            input.input-sm.margin-top.form-control(
              type="text", 
              ng-model="query.deathPlace",
              placeholder="place",
              ng-class="{ filled : query.deathPlace }"
              typeahead="item for item in getSuggestions('places.deathPlace', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.deathPlace=''", ng-show="query.deathPlace.length")

        .form-group
          label Pursuits & Situations
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.pursuits",
              placeholder="pursuit",
              ng-class="{ filled : query.pursuits }"
              typeahead="item for item in getSuggestions('pursuits.pursuit', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.pursuits=''", ng-show="query.pursuits.length")

        div(facet="", label="Full name", model="query.pursuits", field="pursuits", suggestions='pursuits.pursuit', query='query')

        .form-group
          label Occupations & Posts
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.occupations",
              placeholder="occupation",
              ng-class="{ filled : query.occupations }"
              typeahead="item for item in getSuggestions('occupations.title', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.occupations=''", ng-show="query.occupations.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.occupations_group",
              placeholder="group",
              ng-class="{ filled : query.occupations_group }"
              typeahead="item for item in getSuggestions('occupations.group', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.occupations_group=''", ng-show="query.occupations_group.length")

          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.occupations_place",
              placeholder="place",
              ng-class="{ filled : query.occupations_place }"
              typeahead="item for item in getSuggestions('occupations.place', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.occupations_place=''", ng-show="query.occupations_place.length")

        div(facet="", label="Occupations group", model="query.occupations_group", field="occupations_group", suggestions='occupations.group', query='query')

        .form-group
          label Military careers
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.military",
              placeholder="rank",
              ng-class="{ filled : query.military }"
              typeahead="item for item in getSuggestions('military.rank', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.military=''", ng-show="query.military.length")


        .form-group
          label Societies & Academies
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.societies",
              placeholder="society",
              ng-class="{ filled : query.societies }"
              typeahead="item for item in getSuggestions('societies.title', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.societies=''", ng-show="query.societies.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.societies_role",
              placeholder="role",
              ng-class="{ filled : query.societies_role }"
              typeahead="item for item in getSuggestions('societies.role', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.societies_role=''", ng-show="query.societies_role.length")


        .form-group
          label Exhibitions & Awards
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.exhibitions",
              placeholder="institution",
              ng-class="{ filled : query.exhibitions }"
              typeahead="item for item in getSuggestions('exhibitions.title', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.exhibitions=''", ng-show="query.exhibitions.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.exhibitions_activity",
              placeholder="activity",
              ng-class="{ filled : query.exhibitions_activity }"
              typeahead="item for item in getSuggestions('exhibitions.activity', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.exhibitions_activity=''", ng-show="query.exhibitions_activity.length")

        .form-group
          label Education
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.education_institution",
              placeholder="institution",
              ng-class="{ filled : query.education_institution }"
              typeahead="item for item in getSuggestions('education.institution', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.education_institution=''", ng-show="query.education_institution.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.education_place",
              placeholder="place",
              ng-class="{ filled : query.education_place }"
              typeahead="item for item in getSuggestions('education.place', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.education_place=''", ng-show="query.education_place.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.education_teacher",
              placeholder="teacher",
              ng-class="{ filled : query.education_teacher }"
              typeahead="item for item in getSuggestions('education.teacher', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.education_teacher=''", ng-show="query.education_teacher.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.education_degree",
              placeholder="degree",
              ng-class="{ filled : query.education_degree }"
              typeahead="item for item in getSuggestions('education.fullDegree', $viewValue)"
              typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.education_degree=''", ng-show="query.education_degree.length")
      
        hr
        
        .form-group
          label Travel
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.travel_place",
              placeholder="place",
              ng-class="{ filled : query.travel_place }"
              typeahead="item for item in getSuggestions('travels.place', $viewValue)"
              typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.travel_place=''", ng-show="query.travel_place.length")
          .clear-input
            input.input-sm.form-control.margin-top(
              type="text", 
              ng-model="query.travel_at",
              placeholder="year",
              ng-class="{ filled : query.travel_at }")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.travel_at=''", ng-show="query.travel_at.length")

        hr

        .form-group
          label Free search in the entries
          .clear-input
            input.input-sm.form-control(
              type="text", 
              ng-model="query.entry",
              placeholder="text",
              ng-class="{ filled : query.entry }")
            .fa.fa-times-circle.clear-input-icon(ng-click="query.entry=''", ng-show="query.entry.length")

        
          
    .col-lg-9      
      p
        .pill(ng-repeat="(k,v) in query") 
          .pill-dimension {{k.split('_').join(' ')}}
          .pill-value
            | {{v}}
          .pill-value.border-left
            a.text-danger(ng-click="removeFromQuery(k)", data-toggle="tooltip", title="Remove")
              i.fa.fa-trash-o

        //button.btn.btn-success.pull-right(ng-click="search()", type="submit", tabindex="1") Search
            
      div.text-muted(ng-show="untouched") Use the fields on the left and press Enter or click the Search button to start searching


      div(ng-show="!noResults && entries.length")
        
        hr
      
        div.clearfix
          p.pull-left
            strong {{entries.length}} 
            | matching results
          button#export-button.btn.btn-default.btn-sm.pull-right(data-loading-text="Loading...", ng-click="export()", ng-disabled="!entries.length")
            i.fa.fa-download.margin-right
            | Export results
        
      .list-group.margin-top
        a.list-group-item(ng-repeat="entry in entries", ng-href="#/entries/{{entry.index}}")
          h4.list-group-item-heading {{entry.fullName}}
          p.list-group-item-text {{entry.biography.slice(0,200)}} ...
        
      div(ng-show="noResults && !searching")
        p No results
      
      div(ng-show="searching")
        p 
          i.fa.fa-refresh.fa-spin.margin-right
          | Searching...
