.container.main-view

  .row
    .col-lg-3.border-right
          
      form
        
        .form-group.clearfix
          a.pull-right(ng-click="clear()") Clear all

        .form-group
          label Full name
          input.input-sm.form-control(
            type="text", 
            ng-model="query.fullName",
            placeholder="Search",
            ng-class="{ filled : query.fullName }"
            typeahead="item for item in getSuggestions('fullName', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Born
          input.input-sm.form-control(
            type="text", 
            ng-model="query.birthDate",
            placeholder="year",
            ng-class="{ filled : query.birthDate }")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.birthPlace",
            placeholder="place",
            ng-class="{ filled : query.birthPlace }"
            typeahead="item for item in getSuggestions('places.birthPlace', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Died
          input.input-sm.form-control(
            type="text", 
            ng-model="query.deathDate",
            placeholder="year",
            ng-class="{ filled : query.deathDate }")
          input.input-sm.margin-top.form-control(
            type="text", 
            ng-model="query.deathPlace",
            placeholder="place",
            ng-class="{ filled : query.deathPlace }"
            typeahead="item for item in getSuggestions('places.deathPlace', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Pursuits & Situations
          input.input-sm.form-control(
            type="text", 
            ng-model="query.pursuits",
            placeholder="pursuit",
            ng-class="{ filled : query.pursuits }"
            typeahead="item for item in getSuggestions('pursuits.pursuit', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Occupations & Posts
          input.input-sm.form-control(
            type="text", 
            ng-model="query.occupations",
            placeholder="occupation",
            ng-class="{ filled : query.occupations }"
            typeahead="item for item in getSuggestions('occupations.title', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.occupations_group",
            placeholder="group",
            ng-class="{ filled : query.occupations_group }"
            typeahead="item for item in getSuggestions('occupations.group', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.occupations_place",
            placeholder="place",
            ng-class="{ filled : query.occupations_place }"
            typeahead="item for item in getSuggestions('occupations.place', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Military careers
          input.input-sm.form-control(
            type="text", 
            ng-model="query.military",
            placeholder="rank",
            ng-class="{ filled : query.military }"
            typeahead="item for item in getSuggestions('military.rank', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")


        .form-group
          label Societies & Academies
          input.input-sm.form-control(
            type="text", 
            ng-model="query.societies",
            placeholder="society",
            ng-class="{ filled : query.societies }"
            typeahead="item for item in getSuggestions('societies.title', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.societies_role",
            placeholder="role",
            ng-class="{ filled : query.societies_role }"
            typeahead="item for item in getSuggestions('societies.role', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")


        .form-group
          label Exhibitions & Awards
          input.input-sm.form-control(
            type="text", 
            ng-model="query.exhibitions",
            placeholder="institution",
            ng-class="{ filled : query.exhibitions }"
            typeahead="item for item in getSuggestions('exhibitions.title', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.exhibitions_activity",
            placeholder="activity",
            ng-class="{ filled : query.exhibitions_activity }"
            typeahead="item for item in getSuggestions('exhibitions.activity', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Education
          input.input-sm.form-control(
            type="text", 
            ng-model="query.education_institution",
            placeholder="institution",
            ng-class="{ filled : query.education_institution }"
            typeahead="item for item in getSuggestions('education.institution', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education_place",
            placeholder="place",
            ng-class="{ filled : query.education_place }"
            typeahead="item for item in getSuggestions('education.place', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education_teacher",
            placeholder="teacher",
            ng-class="{ filled : query.education_teacher }"
            typeahead="item for item in getSuggestions('education.teacher', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education_degree",
            placeholder="degree",
            ng-class="{ filled : query.education_degree }"
            typeahead="item for item in getSuggestions('education.fullDegree', $viewValue)"
            typeahead-min-length="2", typeahead-wait-ms="100")
        
        hr
        
        .form-group
          label Travel
          input.input-sm.form-control(
            type="text", 
            ng-model="query.travel_place",
            placeholder="place",
            ng-class="{ filled : query.travel_place }"
            typeahead="item for item in getSuggestions('travels.place', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.startYear",
            placeholder="year",
            ng-class="{ filled : travelDateModel.query.startYear }",
            ng-show="travelDateModel.queryType === 'exact'")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.startMonth",
            placeholder="month",
            ng-class="{ filled : travelDateModel.query.startMonth }",
            ng-show="travelDateModel.queryType === 'exact'",
            ng-disabled="!travelDateModel.query.startYear && !travelDateModel.query.startMonth")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.startDay",
            placeholder="day",
            ng-class="{ filled : travelDateModel.query.startDay }",
            ng-show="travelDateModel.queryType === 'exact'",
            ng-disabled="!travelDateModel.query.startMonth && !travelDateModel.query.startDay")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.startYear",
            placeholder="start year",
            ng-class="{ filled : travelDateModel.query.startYear }",
            ng-show="travelDateModel.queryType === 'range'")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.startMonth",
            placeholder="start month",
            ng-class="{ filled : travelDateModel.query.startMonth }",
            ng-show="travelDateModel.queryType === 'range'",
            ng-disabled="!travelDateModel.query.startYear && !travelDateModel.query.startMonth")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.startDay",
            placeholder="start day",
            ng-class="{ filled : travelDateModel.query.startDay }",
            ng-show="travelDateModel.queryType === 'range'",
            ng-disabled="!travelDateModel.query.startMonth && !travelDateModel.query.startDay")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.endYear",
            placeholder="end year",
            ng-class="{ filled : travelDateModel.query.endYear }",
            ng-show="travelDateModel.queryType === 'range'")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.endMonth",
            placeholder="end month",
            ng-class="{ filled : travelDateModel.query.endMonth }",
            ng-show="travelDateModel.queryType === 'range'",
            ng-disabled="!travelDateModel.query.endYear && !travelDateModel.query.endMonth")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelDateModel.query.endDay",
            placeholder="end day",
            ng-class="{ filled : travelDateModel.query.endDay }",
            ng-show="travelDateModel.queryType === 'range'",
            ng-disabled="!travelDateModel.query.endMonth && !travelDateModel.query.endDay")
          span.date-query-type.label search by: 
          span.date-query-type(
            ng-click="resetTravelDateModel('exact')",
            ng-class="{selected: travelDateModel.queryType === 'exact'}") exact year
          span.date-query-type(
            ng-click="resetTravelDateModel('range')",
            ng-class="{selected: travelDateModel.queryType === 'range'}") range of years

        hr

        .form-group
          label Free search in the entries
          input.input-sm.form-control(
            type="text", 
            ng-model="freeSearchQuery",
            placeholder="text",
            ng-class="{ filled : freeSearchQuery }")
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.biography")
              div Biography
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.tours")
              div Tours
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.narrative")
              div Narrative
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.notes")
              div Notes
        

        button.btn.btn-primary(ng-click="search()", type="submit") Search
          
    .col-lg-9
      // pre.query {{query}}
      
      p
        .pill(ng-repeat="(k,v) in query") 
          .pill-dimension {{k.split('_').join(' ')}}
          .pill-value {{v}} 
      
      div.text-muted(ng-show="untouched") Use the fields on the left and press Enter or click the Search button to start searching.

      div(ng-show="!noResults && entries.length")
        
        p 
          strong {{entries.length}} 
          | results
        
        .list-group
          a.list-group-item(ng-repeat="entry in entries", ng-href="#/entries/{{entry.index}}")
            h4.list-group-item-heading {{entry.fullName}}
            p.list-group-item-text {{entry.biography.slice(0,200)}} ...
        
      div(ng-show="noResults && !searching")
        p No results
      
      div(ng-show="searching")
        p Searching...
