.container.main-view

  .row
    .col-lg-3.border-right
          
      form
        
        .form-group.clearfix
          a.pull-right(ng-click="clear()") Clear all

        .form-group
          label Full name
          input.input-sm.form-control(
            type="text", 
            ng-model="query.fullName",
            placeholder="Search ({{ counts.fullName }} entries)",
            ng-class="{ filled : query.fullName }"
            typeahead="item.nameMatch as item for item in getSuggestions('fullName', $viewValue)"
            typeahead-template-url="components/fullname-search-suggestion"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")

        .form-group
          label Born
          input.input-sm.form-control(
            type="text", 
            ng-model="query.birthDate",
            placeholder="year ({{ counts.birthDate }} entries)",
            ng-class="{ filled : query.birthDate }")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.birthPlace",
            placeholder="place ({{ counts.birthPlace }} entries)",
            ng-class="{ filled : query.birthPlace }"
            typeahead="item for item in getSuggestions('places.birthPlace', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")

        .form-group
          label Died
          input.input-sm.form-control(
            type="text", 
            ng-model="query.deathDate",
            placeholder="year ({{ counts.deathDate }} entries)",
            ng-class="{ filled : query.deathDate }")
          input.input-sm.margin-top.form-control(
            type="text", 
            ng-model="query.deathPlace",
            placeholder="place ({{ counts.birthPlace }} entries)",
            ng-class="{ filled : query.deathPlace }"
            typeahead="item for item in getSuggestions('places.deathPlace', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")

        .form-group
          label Employments and Identifiers
          input.input-sm.form-control(
            type="text", 
            ng-model="query.pursuits",
            placeholder="pursuit ({{ counts.pursuits }} entries)",
            ng-class="{ filled : query.pursuits }"
            typeahead="item for item in getSuggestions('pursuits.pursuit', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")

        .form-group
          label Occupations & Posts
          input.input-sm.form-control(
            type="text", 
            ng-model="query.occupations",
            placeholder="occupation ({{ counts.occupations }} entries)",
            ng-class="{ filled : query.occupations }"
            typeahead="item for item in getSuggestions('occupations.title', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.occupations_group",
            placeholder="group ({{ counts.occupations_group }} entries)",
            ng-class="{ filled : query.occupations_group }"
            typeahead="item for item in getSuggestions('occupations.group', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.occupations_place",
            placeholder="place ({{ counts.occupations_place }} entries)",
            ng-class="{ filled : query.occupations_place }"
            typeahead="item for item in getSuggestions('occupations.place', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")

        .form-group
          label Military careers
          input.input-sm.form-control(
            type="text", 
            ng-model="query.military",
            placeholder="rank ({{ counts.military }} entries)",
            ng-class="{ filled : query.military }"
            typeahead="item for item in getSuggestions('military.rank', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")


        .form-group
          label Societies & Academies
          input.input-sm.form-control(
            type="text", 
            ng-model="query.societies",
            placeholder="society ({{ counts.societies }} entries)",
            ng-class="{ filled : query.societies }"
            typeahead="item for item in getSuggestions('societies.title', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.societies_role",
            placeholder="role ({{ counts.societies_role }} entries)",
            ng-class="{ filled : query.societies_role }"
            typeahead="item for item in getSuggestions('societies.role', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")


        .form-group
          label Exhibitions & Awards
          input.input-sm.form-control(
            type="text", 
            ng-model="query.exhibitions",
            placeholder="institution ({{ counts.exhibitions }} entries)",
            ng-class="{ filled : query.exhibitions }"
            typeahead="item for item in getSuggestions('exhibitions.title', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.exhibitions_activity",
            placeholder="activity ({{ counts.exhibitions_activity }} entries)",
            ng-class="{ filled : query.exhibitions_activity }"
            typeahead="item for item in getSuggestions('exhibitions.activity', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")

        .form-group
          label Education
          input.input-sm.form-control(
            type="text", 
            ng-model="query.education_institution",
            placeholder="institution ({{ counts.education_institution }} entries)",
            ng-class="{ filled : query.education_institution }"
            typeahead="item for item in getSuggestions('education.institution', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education_place",
            placeholder="place ({{ counts.education_place }} entries)",
            ng-class="{ filled : query.education_place }"
            typeahead="item for item in getSuggestions('education.place', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education_teacher",
            placeholder="teacher ({{ counts.education_teacher }} entries)",
            ng-class="{ filled : query.education_teacher }"
            typeahead="item for item in getSuggestions('education.teacher', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education_degree",
            placeholder="degree ({{ counts.education_degree }} entries)",
            ng-class="{ filled : query.education_degree }"
            typeahead="item for item in getSuggestions('education.fullDegree', $viewValue)"
            typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
        
        hr
        
        .form-group
          label Travel
          input.input-sm.form-control(
            type="text", 
            ng-model="travelModel.place",
            placeholder="place ({{ counts.travel_place }} entries)",
            ng-class="{ filled : travelModel.place }"
            typeahead="item for item in getSuggestions('travels.place', $viewValue)"
            typeahead-focus-first="false" typeahead-min-length="2", typeahead-wait-ms="100"
            typeahead-on-select="search()")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.startYear",
            placeholder="year ({{ counts.travel_year }} entries)",
            ng-class="{ filled : travelModel.date.query.startYear }",
            ng-show="travelModel.date.queryType === 'exact'")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.startMonth",
            placeholder="month ({{ counts.travel_month }} entries)",
            ng-class="{ filled : travelModel.date.query.startMonth }",
            ng-show="travelModel.date.queryType === 'exact'",
            ng-disabled="!travelModel.date.query.startYear && !travelModel.date.query.startMonth")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.startDay",
            placeholder="day ({{ counts.travel_day }} entries)",
            ng-class="{ filled : travelModel.date.query.startDay }",
            ng-show="travelModel.date.queryType === 'exact'",
            ng-disabled="!travelModel.date.query.startMonth && !travelModel.date.query.startDay")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.startYear",
            placeholder="start year ({{ counts.travel_year }} entries)",
            ng-class="{ filled : travelModel.date.query.startYear }",
            ng-show="travelModel.date.queryType === 'range'")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.startMonth",
            placeholder="start month ({{ counts.travel_month }} entries)",
            ng-class="{ filled : travelModel.date.query.startMonth }",
            ng-show="travelModel.date.queryType === 'range'",
            ng-disabled="!travelModel.date.query.startYear && !travelModel.date.query.startMonth")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.startDay",
            placeholder="start day ({{ counts.travel_day }} entries)",
            ng-class="{ filled : travelModel.date.query.startDay }",
            ng-show="travelModel.date.queryType === 'range'",
            ng-disabled="!travelModel.date.query.startMonth && !travelModel.date.query.startDay")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.endYear",
            placeholder="end year ({{ counts.travel_year }} entries)",
            ng-class="{ filled : travelModel.date.query.endYear }",
            ng-show="travelModel.date.queryType === 'range'")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.endMonth",
            placeholder="end month ({{ counts.travel_month }} entries)",
            ng-class="{ filled : travelModel.date.query.endMonth }",
            ng-show="travelModel.date.queryType === 'range'",
            ng-disabled="!travelModel.date.query.endYear && !travelModel.date.query.endMonth")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="travelModel.date.query.endDay",
            placeholder="end day ({{ counts.travel_day }} entries)",
            ng-class="{ filled : travelModel.date.query.endDay }",
            ng-show="travelModel.date.queryType === 'range'",
            ng-disabled="!travelModel.date.query.endMonth && !travelModel.date.query.endDay")
          .margin-top
            span.date-query-type.date-query-type-label search by: 
            span.date-query-type(
              ng-click="resetTravelDate('exact', travelModel.date.estimated)",
              ng-class="{selected: travelModel.date.queryType === 'exact'}") exact year
            span.date-query-type(
              ng-click="resetTravelDate('range', travelModel.date.estimated)",
              ng-class="{selected: travelModel.date.queryType === 'range'}") range of years

        hr

        .form-group
          label Free search in the entries
          input.input-sm.form-control(
            type="text", 
            ng-model="freeSearchQuery",
            placeholder="text ({{ counts.fullName }} entries)",
            ng-class="{ filled : freeSearchQuery }")
          .checkbox.pull-right
            label
              input.small(type="checkbox", ng-model="freeSearchBeginnings")
              div.small.free-search-beginning-of-word Search beginnings of words only
          .clearfix
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.biography")
              div Biography
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.tours")
              div Tours
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.narrative")
              div Narrative
          .checkbox
            label
              input(type="checkbox", ng-model="freeSearchSections.notes")
              div Notes
        

        button.btn.btn-default(ng-click="search()", type="submit") Search
          
    .col-lg-9
      // pre.query {{query}}
      
      p
        .pill(ng-repeat="pill in pills") 
          .pill-dimension {{ pill.dimension }}
          strong.pill-value {{ pill.value }} 
      
      div.text-muted(ng-show="untouched") Use the fields on the left and press Enter or click the Search button to start searching.

      div(ng-show="!noResults && entries.length")
        
        p 
          strong {{entries.length}} 
          | results
        
        //  begin standardized results panel
        .panel.panel-default
          .panel-heading

            button.btn.btn-default.btn-xs.list-option(type="button", ng-click="selectAllEntries()") select all
            button.btn.btn-default.btn-xs.list-option(type="button", ng-click="deselectAllEntries()") deselect all

            div.btn-group.add-to-list-btn.list-option
              button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                span Add Selected Entries to List
                span.caret
              ul.dropdown-menu
                li(ng-show="sharedListModel.listsLoading")
                  span Loading lists...
                li(ng-repeat="list in sharedListModel.myLists")
                  a(ng-click="addSelectedEntriesToList(list)") {{ list.name }}
                li.divider(role="separator")
                li.dropdown-header or add to a new list:
                li
                  form.input-group.input-group-sm
                    input.form-control(type="text", placeholder="new list name", ng-model="viewModel.newListName")
                    span.input-group-btn
                      button.btn.btn-default(type="submit", ng-disabled="!viewModel.newListName", ng-click="addSelectedEntriesToNewList()") Create & Add

            div.btn-group.list-option
              button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                span Sort by...
                span.caret
              ul.dropdown-menu
                li(ng-repeat="dimension in sortModel.activeSortableDimensions")
                  a(ng-click="sortModel.dimension = dimension.sorting;", ng-class="{ 'bg-info' : sortModel.dimension === dimension.sorting }") {{ dimension.label }}
                li.divider
                li
                  a(ng-click="sortModel.dimension = 'index'", ng-class="{ 'bg-info' : sortModel.dimension === 'index' }") Index
                li.divider
                li
                  .checkbox.entry-order-checkbox
                    label
                      input(type="checkbox", ng-model="sortModel.reverseSorting")
                      div Reverse Order  

            button#export-button.btn.btn-default.btn-xs.pull-right(data-loading-text="Loading...", ng-click="export()", ng-disabled="!entries.length")
              i.fa.fa-download.margin-right
              | Export results              

          .panel-body
            table.table.table-hover
              tbody.entry-row
                tr(ng-repeat="entry in entries | orderBy : sortModel.dimension : sortModel.reverseSorting", ng-class="{ warning: entry.selected }")
                  td.entry-checkbox
                    input(type="checkbox", ng-model="entry.selected")
                  td.entry-list-item
                      a(ng-href="#/entries/{{entry.index}}")
                        span.add-to-list-label.label.label-success(ng-show="entry.addedToList") Added to list
                        span.add-to-list-label.label.label-info(ng-show="entry.alreadyInList") Already in list
                        h4 {{ entry.fullName }}
                        p {{ entry.biography.slice(0, 200) }} ...
    
      div(ng-show="noResults && !searching")
        p No results
      
      div(ng-show="searching")
        p Searching...
