.container.main-view

  .row
    .col-lg-3.border-right
          
      form
        
        .form-group.clearfix
          a.small.pull-right(ng-click="query={}") Clear all

        .form-group
          label Full name
          input.input-sm.form-control(
            type="text", 
            ng-model="query.fullName.value",
            placeholder="Search",
            typeahead="item for item in getSuggestions('fullName', $viewValue)"
            ng-class="{filled:query.fullName.value}"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
        
        .form-group
          label Birthdate
          input.input-sm.form-control(
            type="num"
            placeholder="Search"
            ng-model="query.dates.$elemMatch.birthDate.$number")

        .form-group
          label Deathdate
          input.input-sm.form-control(
            type="num"
            placeholder="Search"
            ng-model="query.dates.$elemMatch.deathDate.$number")
        
        .form-group
          label Birthplace
          input.input-sm.form-control(
            type="text", 
            ng-model="query.places.$elemMatch.birthPlace.value",
            placeholder="Search",
            typeahead="item for item in getSuggestions('places.birthPlace', $viewValue)"
            ng-class="{filled : query.places.$elemMatch.birthPlace.value}"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
                  
        .form-group
          label Deathplace
          input.input-sm.form-control(
            type="text", 
            ng-model="query.places.$elemMatch.deathPlace.value",
            placeholder="Search",
            ng-class="{ filled : query.places.$elemMatch.deathPlace.value }"
            typeahead="item for item in getSuggestions('places.deathPlace', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")

        .form-group
          label Pursuits & Situations
          input.input-sm.form-control(
            type="text", 
            ng-model="query.pursuits.$elemMatch.pursuit.value",
            placeholder="Search",
            typeahead="item for item in getSuggestions('pursuits.pursuit', $viewValue)"
            ng-class="{filled:query.pursuits.$elemMatch.pursuit.value}"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
        
        .form-group
          label Occupations & Posts
          input.input-sm.form-control(
            type="text", 
            ng-model="query.occupations.$elemMatch.group.value",
            placeholder="group",
            ng-class="{filled:query.occupations.$elemMatch.group.value}"
            typeahead="item for item in getSuggestions('occupations.group', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.occupations.$elemMatch.title.value",
            placeholder="title",
            ng-class="{filled:query.occupations.$elemMatch.title.value}"
            typeahead="item for item in getSuggestions('occupations.title', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
                  

        .form-group
          label Education
          input.input-sm.form-control(
            type="text", 
            ng-model="query.education.$elemMatch.institution.value",
            placeholder="institution",
            ng-class="{filled:query.education.$elemMatch.institution.value}"
            typeahead="item for item in getSuggestions('education.institution', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education.$elemMatch.place.value",
            placeholder="place",
            ng-class="{filled:query.education.$elemMatch.place.value}"
            typeahead="item for item in getSuggestions('education.place', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education.$elemMatch.fullDegree.value",
            placeholder="degree",
            ng-class="{filled:query.education.$elemMatch.fullDegree.value}"
            typeahead="item for item in getSuggestions('education.fullDegree', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.education.$elemMatch.teacher.value",
            placeholder="teacher",
            ng-class="{filled:query.education.$elemMatch.teacher.value}"
            typeahead="item for item in getSuggestions('education.teacher', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
        
        .form-group
          label Societies & Academies
          input.input-sm.form-control(
            type="text", 
            ng-model="query.societies.$elemMatch.society.value",
            placeholder="society",
            ng-class="{filled:query.societies.$elemMatch.society.value}"
            typeahead="item for item in getSuggestions('societies.society', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.societies.$elemMatch.role.value",
            ng-class="{filled:query.societies.$elemMatch.role.value}"
            placeholder="role",
            typeahead="item for item in getSuggestions('societies.role', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
        
        hr
        
        .form-group
          label Travel place
          input.input-sm.form-control(
            type="text", 
            ng-model="query.travels.$elemMatch.place.value",
            placeholder="place",
            ng-class="{filled:query.travels.$elemMatch.place.value}"
            typeahead="item for item in getSuggestions('travels.place', $viewValue)"
            typeahead-loading="loadingLocations", typeahead-min-length="2", typeahead-wait-ms="100")
            
        .form-group
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.travels.$elemMatch.travelStartYear.$number",
            placeholder="from",
            ng-class="{filled:query.travels.$elemMatch.travelStartYear.$number}")

        .form-group
          input.input-sm.form-control.margin-top(
            type="text", 
            ng-model="query.travels.$elemMatch.travelEndYear.$number",
            placeholder="to",
            ng-class="{filled:query.travels.$elemMatch.travelEndYear.$lte}")

        hr
        
        .form-group
          label Free search in the entry
          input.input-sm.form-control(
            type="text"
            placeholder="Search"
            ng-class="{filled:query.entry.value}"
            ng-model="query.entry.value")
            
        button.btn.btn-primary(ng-click="search()", type="submit") Search
          
    .col-lg-9
      pre.query {{query}}
      
      p {{pills}}
      
      div(ng-show="!query") Antani

      div(ng-show="!noResults && entries.length")
        
        p 
          strong {{entries.length}} 
          | results
        
        .list-group
          a.list-group-item(ng-repeat="entry in entries", ng-href="#/entries/{{entry.index}}")
            h4.list-group-item-heading {{entry.fullName}}
            p.list-group-item-text {{entry.biography.slice(0,200)}} ...
        
      div(ng-show="noResults && !searching")
        p No results
      
      div(ng-show="searching")
        p Searching...
