.panel.panel-default.panel-nested
    .panel-heading
        span(
            ng-click="search({occupations_group:o.key})",
            ng-bind-html="highlighted('occupations_group', o.key)"
        )
        
        ul.list-group
            li.list-group-item(ng-repeat="e in o.values")
                a(ng-click="search({occupations:e.title})"
                    ng-bind-html="highlighted('occupations', e.title)"
                )
                
                span(ng-show="e.place") , 
                a(ng-show="e.place",
                    ng-click="search({occupations_place:e.place})",
                    ng-bind-html="highlighted('occupations_place', e.place)"
                )
                
                span(ng-show="e.from || e.to")  (
                span(ng-show="e.from") {{e.from}}
                span(ng-show="e.to") -{{e.to}}
                span(ng-show="e.from || e.to") )
                    