span(
    ng-show="!isEditing()",
    ng-click="startEditing()",
) {{ entry[fieldKey] }}

input.focus(
    ng-show="isEditing()",
    type="text",
    ng-model="fieldValue",
    ng-change="edited(fieldKey, fieldValue)",
)
