.container.main-view

    .row
        h3 Your lists
        hr
    .row
        .col-lg-3.border-right
            .list-group
                .list-group-item.list-group-item-info(ng-show="sharedListModel.listsLoading") Loading lists...
                .list-group-item.list-group-item-warning(ng-show="sharedListModel.myLists && !sharedListModel.myLists.length") No lists
                a.list-group-item(ng-repeat="list in sharedListModel.myLists", ng-click="selectList(list)", ng-class="{ active: list === viewModel.selectedList }")
                    h4.list-group-item-heading {{ list.name }}
                    p.list-group-item-text {{ list.entryIDs.length }} {{ list.entryIDs.length === 1 ? 'entry' : 'entries' }}
                .list-group-item
                    form.input-group.input-group-sm
                      input.form-control(type="text", placeholder="new list name", ng-model="viewModel.newListName")
                      span.input-group-btn
                        button.btn.btn-default(type="submit", ng-disabled="!viewModel.newListName", ng-click="newList(viewModel.newListName)") Create New List
                
        
        .col-lg-9
            .panel.panel-warning(ng-hide="viewModel.selectedList")
                .panel-body.text-center No list selected.
            
            entry-list(
                ng-show="viewModel.selectedList",
                entries="viewModel.selectedListEntries",
                export="export",
                is-saved-list-view="true",
                remove-selected-entries-from-list="removeSelectedEntriesFromList()",
                duplicate-list="duplicateList(name)",
                delete-list="deleteList()",
            )
